.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}


.mask {
  width: 720px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.3);
}

.section {
  width: 100%;
  display: flex;
  background-color: #fff;
  border-bottom: 2px solid rgb(237, 237, 237);
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

ul {
  list-style: initial;
}

li {
  font-size: 16px;
}
.aaa {
  display: flex !important;
  align-items: center !important;
}

.user-info {
  width: 60%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 251, 251);
}

.user-info form {
  margin: 20px;
}

.user-avatar {
  margin-top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

.user-name {
  margin-top: 16px;
  font-size: 16px;
  color: #909090;
  font-weight: bold;
}

.content-container {
  width: 40%;
  padding: 20px;
}

.content {
  margin-top: 12px;
  font-size: 18px;
}

.replay-time {
  font-size: 14px;
  color: #909090;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.experiment-design-dialog .next-dialog-body {
  padding: 0 !important;
  margin: 0 !important;
}